* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------Body---------------*/

body {
  background-color: blue;
  font-size: 3rem;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*----------Navegation----------*/
.navigation {
  background-color: red;

  display: flex;
  justify-content: center;

  height: fit-content;
  width: 100vw;
}

.navigation div {
  background-color: green;
  height: min-content;
  width: auto;

  display: flex;

  align-items: center;
  justify-content: center;

  justify-content: space-evenly;
}

.navigation div a {
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/*------------Inicio-------------*/
#initial p {
  font-size: 1.6rem;
  margin-left: 1.2rem;
  text-indent: 2rem; /*paragrafo*/
  text-align: justify;
}

/*------------Serviços-------------*/

#services {
  text-align: center;
}

#services ul {
  display: flex;
  flex-direction: column;
  margin: auto;

  font-size: 3rem;

  padding: 1rem;
  height: fit-content;
  width: fit-content;

  margin-bottom: 3rem;
}

#services ul li {
  display: flex;

  background-color: aqua;
}

/*-------------Empresa------------*/
#company {
  margin: 3rem;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
}

#company p {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  text-indent: 2rem; /*paragrafo*/
  text-align: justify;
  padding: 1rem;
}

#company h3 {
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem;
}
/*-------------Contato------------*/
#contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

#contact a {
  font-size: 1.4rem;
}

/*-------------Footer-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------Button-------------*/

.button {
  background-color: rgb(176, 166, 60);

  border-radius: 10rem;
  height: 5rem;
  width: 5rem;
}

/*
// justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
//flex-direction:
*/
