* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------Body---------------*/

body {
  background-color: blue;
  font-size: 3rem;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*----------Navegation----------*/
.navigation {
  background-color: red;

  display: flex;
  justify-content: center;

  height: fit-content;
  width: 100vw;
}

.navigation div {
  background-color: green;
  height: min-content;
  width: auto;

  display: flex;

  align-items: center;
  justify-content: center;

  justify-content: space-evenly;
}

.navigation div a {
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/*------------Serviços-------------*/
#inicio p {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  text-indent: 2rem; /*paragrafo*/
  text-align: justify;
}

/*------------Serviços-------------*/

#serviços {
  text-align: center;
}

#serviços ul {
  display: flex;
  flex-direction: column;
  margin: auto;

  font-size: 3rem;

  padding: 1rem;
  height: fit-content;
  width: fit-content;

  margin-bottom: 3rem;
}

#serviços ul li {
  display: flex;

  background-color: aqua;
}

/*
// justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
//flex-direction:
*/
